h5{
    margin: 10px 0;
    font-weight: 500;
}

.row {
    border: 2px solid rgb(255, 0, 0);
    margin: 10px 0;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
}

.left-section, .mid-section {
    width: 33%;
}

.mid-section {
    height: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mid-right-section {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;

}

.right-section {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apply {
    color: white;
    background-color: rgb(255, 71, 66);
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

.apply:hover {
    cursor: pointer;
    opacity: .75;
}

.company {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.position {

}

.location {
    font-size: 10px;
    border: 1px solid gray;
    font-family: 'Courier New', Courier, monospace;
}

.tag {
    margin: 5px; 
    border: 2px solid red;
    padding: 2px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}