.row {
    border: 2px solid rgb(255, 0, 0);
    margin: 10px 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.company {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

.position {

}

.location {
    font-size: 10px;
    border: 1px solid gray;
    font-family: 'Courier New', Courier, monospace;
}

.tag {
    margin: 5px; 
    border: 2px solid red;
}